* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 18px;
}
body h1 {
  display: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #55a290;
  border-radius: 20px;
  border: 3px solid #fff;
}

.container-bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin: 0 400px 0 400px;
  border-radius: 1%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.fotobio {
  width: 260px;
  height: auto;
  margin: 50px;
}

.fotobioresp {
  display: none;
}

.box *:last-child {
  margin-bottom: 0;
}

.box-4 {
  width: 65%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  border-radius: 1%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.biografia-p {
  background: none repeat scroll 0 0 #fff;
  padding: 25px 55px 25px 1px;
  border-radius: 0.2%;
}

.biog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titulo-bio {
  color: #55a290;
  text-align: right;
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 25px 0 25px 1px;
}

.biografia-p {
  background: none repeat scroll 0 0 #fff;
  padding: 25px 55px 25px 1px;
  border-radius: 1%;
  z-index: 1;
}

header {
  padding-bottom: 1px;
}
header .nav-item:active {
  background: #55a290;
}
header .foto-fondo {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}
header #carousel1 {
  width: auto;
}
header img {
  width: 190px;
}

footer {
  height: 120px;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 30px;
}
footer .webmaster {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
footer img {
  width: 50px;
  height: auto;
  padding-top: 15px;
}
footer .subir {
  height: 40px;
  width: 40px;
  background-color: #55a290;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  border: #fff;
  font-size: 22px;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.social-buttons__button {
  margin: 5px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 45px;
  height: 45px;
  text-decoration: none;
}

.social-button__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff !important;
}

.social-button:focus::after,
.social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-buttons a {
  color: #000;
}

.social-buttons a::after {
  background: #55a290;
}

h1 {
  display: none;
}

h3 {
  color: #55a290;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-top: 50px;
}

section .galeria {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 30px;
  padding-top: 1px;
}
section .item {
  border: 2px solid #fff;
  height: 300px;
  transition: all 0.4s;
}

.item1 {
  background-image: url(../multimedia/1.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item2 {
  background-image: url(../multimedia/2.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item3 {
  background-image: url(../multimedia/3.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item4 {
  background-image: url(../multimedia/4.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item5 {
  background-image: url(../multimedia/5.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item6 {
  background-image: url(../multimedia/6.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item7 {
  background-image: url(../multimedia/7.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item8 {
  background-image: url(../multimedia/8.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item9 {
  background-image: url(../multimedia/9.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item10 {
  background-image: url(../multimedia/10.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item11 {
  background-image: url(../multimedia/11.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item12 {
  background-image: url(../multimedia/12.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item13 {
  background-image: url(../multimedia/13.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item14 {
  background-image: url(../multimedia/14.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item15 {
  background-image: url(../multimedia/15.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item16 {
  background-image: url(../multimedia/16.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item17 {
  background-image: url(../multimedia/17.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item18 {
  background-image: url(../multimedia/18.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item19 {
  background-image: url(../multimedia/19.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item20 {
  background-image: url(../multimedia/20.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.item1:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item2:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item3:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item4:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item5:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item6:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item7:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item8:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item9:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item10:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item11:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item12:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item13:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item14:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item15:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item16:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item17:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item18:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item19:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.item20:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

section .titulo-videos {
  color: #55a290;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 20px;
}
section .carousel-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .carousel-inner {
  width: 560px;
}
section iframe {
  width: 560px;
  height: 316px;
}

.contenedor-clases h1 {
  display: none;
}
.contenedor-clases h3 {
  color: #55a290;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contenedor-clases .video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.contenedor-clases .clases {
  padding: auto;
}
.contenedor-clases .contenedor-3 {
  display: flex;
  justify-content: center;
}
.contenedor-clases .cajas-coment {
  display: flex;
  flex-direction: column;
  height: 450px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  margin: 15px;
  align-items: center;
  border-radius: 3%;
}
.contenedor-clases .foto-alumno {
  width: 90px;
  height: auto;
  border-radius: 50%;
  padding: 10px 0 10px 0;
}
.contenedor-clases .nombre-alumno {
  font-size: 18px;
  font-weight: bold;
}
.contenedor-clases .comentario {
  padding: 2px 15px;
  font-size: 100%;
  text-align: center;
  width: 250px;
  height: 196px;
}
.contenedor-clases .alumnos {
  display: flex;
  justify-content: center;
}
.contenedor-clases .carousel {
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 530px;
}
.contenedor-clases .carousel-control-prev-icon, .contenedor-clases .carousel-control-next-icon, .contenedor-clases .carousel-indicators {
  filter: invert(108%);
}
.contenedor-clases .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #b4e2d7 inset !important;
  -webkit-text-fill-color: #000 !important;
}

.contenedor_form {
  display: flex;
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/
.contact_info {
  width: 38%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../multimedia/fotocontacto.png");
  background-size: cover;
  background-position: center center;
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #55a290;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: 600;
}

form input,
form textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: "Open sans";
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form input[type=submit] {
  width: 180px;
  background: #55a290;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form input[type=submit]:hover {
  background: #1d6454;
}

.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensaje_modal {
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 30px 20px 15px;
}

.mensaje_modal h3 {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p {
  font-size: 16px;
  color: #606060;
}

.mensaje_modal p:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  color: #E25151;
  margin-right: 8px;
}

#btnClose {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;
  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;
  /*	float: right;*/
}

.mensaje-exito {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mensaje-exito h2 {
  font-size: 35px;
  color: #55a290;
  display: block;
  text-align: center;
  margin: 50px;
}

.mensaje-exito a {
  display: block;
  padding: 10px 30px;
  background: #55a290;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
}

.mensaje-exito a:hover {
  background: #1d6454;
}

@media (max-width: 1050px) {
  .box-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .biografia-p {
    padding: 0 50px 0 50px;
    text-align: justify;
  }
  .fotobioresp {
    display: none;
  }
  .titulo-bio {
    text-align: center;
    padding-top: 0;
  }
  .container-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
  }
  .fotobio {
    padding: 10px;
  }
  .contenedor_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .clases {
    margin: auto;
    padding-top: 1px;
  }
  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  #clasesid {
    max-width: 890px;
  }
}
@media (max-width: 767px) {
  .social-buttons-index {
    display: none;
  }
  .imglogo {
    width: 160px;
  }
  .navbar {
    padding-left: 10px;
  }
  .navbar-toggler {
    padding-right: 10px;
  }
  .logo-footer {
    width: 40px;
  }
  .biog {
    width: auto;
  }
  .box-4 {
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .titulo-bio {
    text-align: center;
    font-size: 17px;
    padding-top: 40px;
  }
  .biografia-p {
    font-size: 17px;
    width: 100%;
    padding: 0;
  }
  .fotobio {
    display: none;
  }
  .fotobioresp {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  .foto-fondo {
    width: 100%;
    height: auto;
  }
  .box-4:after {
    border-radius: 10%;
    bottom: 0;
    height: 20px;
    left: 10px;
    right: 10px;
  }
  .titulo-fotos {
    padding: 30px;
    margin: 0;
    font-size: 20px;
  }
  .galeria {
    width: 100%;
  }
  #carousel2 {
    max-width: 300px;
  }
  iframe {
    max-width: 100%;
  }
  .titulo-videos {
    padding-top: 30px !important;
    margin: 0;
    font-size: 19px !important;
  }
  .clases {
    margin: auto;
    padding-top: 1px;
  }
  #clasesid {
    max-width: 300px;
  }
  video {
    max-width: 300px;
  }
  .video {
    padding-bottom: 10px;
  }
  .titulo-clases {
    padding: 30px;
    margin: 0;
    font-size: 19px;
  }
  .contact_info {
    display: none;
  }
  .contenedor_form {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  form.form_contact {
    padding: 0;
  }
  form.form_contact h2 {
    font-size: 18px;
  }
  form.form_contact label {
    font-weight: 500;
  }
  form.form_contact input {
    width: 100% !important;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    font-family: "Open sans";
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }
  /*form.form_contact input {
      padding: 8px 0px 5px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 2px solid #D1D1D1;
      font-family: 'Open sans';
      color: #000;
      font-size: 14px;
      font-weight: 400;
  }*/
}/*# sourceMappingURL=estilos.css.map */