.contenedor-clases {
    & h3 {
        color: $colorbase;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    & .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    }
    & .contenedor-alumnos{
        background-color: #fff;
    }
    & .alumnos{
        display: flex;
        justify-content: center;
        height: 460px;
    }
    & .carousel{
        display: flex;
        justify-content: center;
        width: 810px;
        height: 450px;
        }
    & .carousel-indicators li { 
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    & .carousel-inner{
        width: 650px;
    }
    & .contenedor-3{
        display: flex;
        justify-content: center;
    }
    & .cajas-coment{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 500px;
    align-items: center;
    }
    & .foto-alumno{
    width: 90px;
    height: auto;
    border-radius: 50%;
    padding: 20px 0 20px 0;
    }
    & .nombre-alumno{
    font-size: 18px;
    font-weight: bold;
    margin: 1px;
    }
    & .ubicacion-p{
        font-size: 14px;
        color: $colorbase;
        margin: 3px;
    }
    & .comentario{
        padding: 5px 40px 5px 40px;
        font-size: 16px;
        width: 100%;
        text-align: justify;
    }
    & .carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators {
        filter: invert(108%);
        height: 15px;
    }
}