body {
    & h1 {
        display: none;
    }
    & h3 {
        color: $colorbase;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    & .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    }
    & .clases {
    padding: auto;
    }
}