// RESPONSIVE TABLET
@media (max-width: 1250px) {
    //BIO
    .box-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .biografia-p {
        padding: 0 $mediano 0 $mediano;
        text-align: justify;
    }
    .fotobioresp {
        display: none;
    }
    .titulo-bio {
        text-align: center;
        padding-bottom: 4px;
    }
    .container-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1px;
    }
    .fotobio {
        padding: 10px;
        border-radius: 20px;
    }
    //CLASES
    .clases {
        margin: auto;
        padding-top: 1px;
    }
        #clasesid {
        max-width: ($grande*8)+90;
    }
    //CONTACTO
    .contenedor_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}
// MÓVIL
@media (max-width: 767px) {
    .navbar {
        padding-left: 10px;
    }
    .navbar-toggler {
        padding-right: 10px;
    }
    
    .imglogo {
        width: 160px;
    }
    .social-buttons-index {
        display: none;
    }
    .logo-footer {
        width: $mediano - 10;
    }
    // BIO
    .foto-fondo {
        height: 60vh !important;
    }
    .biog{
        width: auto;   
    }
    .box-4 {
        box-shadow: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .box-4:after {
        border-radius: 10%;
        bottom: 0;
        height: 20px;
        left: 10px;
        right: 10px;
    }
    .titulo-bio {
        text-align: right;
        font-size: 18px;
        padding-top: 1px;
    }
    .biografia-p {
        font-size: 16px;
        width: $porc1;
        padding: 0;
    }
    .fotobio {
        display: none;
    }
    .fotobioresp {
        display: block;
        width: $grande*2;
        height: $grande*2;
        border-radius: $porc1;
        margin: $chico + 5;
        margin-top: 45px;
    }
    // MULTIMEDIA
    .galeria {
        width: $porc1;
    }
    .item{
        filter: grayscale(0%);
    }
    .titulo-videos {
        padding-top: $chico + 5;
        margin: 0;
        font-size: 18px !important;
    }
    .titulo-fotos {
        font-size: 18px;
    }
    .video-yt {
        overflow:hidden;
        padding-bottom: 340px;
        position:relative;
        max-width: $porc1 !important;
    }
    .video-yt  iframe {
        left: 0;
        top: 0;
        height: 95%;
        width: $porc1;
        position: absolute;
    }
    .flex-youtube {
        width: $porc1;
    }
    .texto-yt {
        padding: 10px;
    }
    // CLASES
    .clases {
        margin: auto;
        padding-top: 1px;
    }
    .carousel {
        max-width: $porc1;  
    }
    .carousel-clases{
        width: $porc1;
        height: 200px;
        & .foto-alumno {
            padding: 10px !important;
        }
        & .nombre-alumno {
            font-size: 16px;
        }
        & .ubicacion-p {
            font-size: 13px;
        }
        & .comentario {
            font-size: 15px !important;
            padding: 10px $mediano $chico + 5 $mediano !important;
            line-height: 1rem;  
        }
    }
    .contenedor-clases h3 {
        font-size: 18px;
        padding: 30px 15px 10px 15px;
    }
    // FORMULARIO
    .contact_info {
        display: none;
    }
    .contenedor_form {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    form.form_contact {
        padding: 0;
    }
    form.form_contact h2 {
        font-size: 18px;
    }
    form.form_contact label {
        font-weight: 500;
    }
    form.form_contact input {
    width: $porc1 !important;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    font-family: 'Open sans';
	color: #000;
	font-size: 14px;
	font-weight: 400;
    }
    .subir {
        display: none;
    }
}
@media (max-width: 480px) {

    .carousel-clases{ // NUEVOS CAMBIOS
        width: $porc1 - 10;
        height: 100px;
            & .nombre-alumno {
                font-size: 14px;
                width: 100%;
                text-align: center;
            }
            & .ubicacion-p {
                font-size: 12px;
                width: 100%;
            }
            & .comentario {
                font-size: 14px !important;
                padding: 10px $mediano $chico + 5 $mediano !important;
                line-height: 1rem;
                         
            }
            & .contenedor-3 {
                text-align: center;
            }
    }
    footer {
        margin-top: $mediano;
    }
}