// RESPONSIVE TABLET
@media (max-width: 1250px) {
    .box-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .biografia-p {
        padding: 0 50px 0 50px;
        text-align: justify;
    }
    .fotobioresp {
        display: none;
    }
    .titulo-bio {
        text-align: center;
        padding-bottom: 4px;
    }
    .container-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1px;
    }
    .fotobio {
        padding: 10px;
        border-radius: 20px;
    }
    .contenedor_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .clases {
        margin: auto;
        padding-top: 1px;
    }
    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }
    #clasesid {
        max-width: ($grande*8)+90;
    }
}
// MÓVIL
@media (max-width: 767px) {
    .social-buttons-index {
        display: none;
    }
    .imglogo{
        width: 160px;
    }
    .navbar{
        padding-left: 10px;
    }
    .navbar-toggler{
        padding-right: 10px;
    }
    .logo-footer{
        width: 40px;
    }
    // BIO
    .biog{
        width: auto;   
    }
    .box-4 {
        box-shadow: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .titulo-bio {
        text-align: right;
        font-size: 17px;
        padding-top: 1px;
    }
    .biografia-p {
        font-size: 17px;
        width: 100%;
        padding: 0;
    }
    .fotobio {
        display: none;
    }
    .fotobioresp {
        display: block;
        width: $grande*2;
        height: $grande*2;
        border-radius: $porc1;
        margin: 30px;
    }
    .foto-fondo {
        width: $porc1;
        height: 60vh;
    }
    .box-4:after {
        border-radius: 10%;
        bottom: 0;
        height: 20px;
        left: 10px;
        right: 10px;
    }
    
    // MULTIMEDIA
    .titulo-fotos{
        padding: 30px;
        margin: 0;
        font-size: 20px;
    }
    .galeria {
        width: $porc1;
    }
    .titulo-videos{
        padding-top: 30px;
        margin: 0;
        font-size: 20px !important;
    }
    iframe{
        width: 390px !important;
    }
    // CLASES
    .clases {
        margin: auto;
        padding-top: 1px;
    }
    #clasesid {
        max-width: ($grande*3);
    }
    video {
        max-width: 395px;
    }
    .video{
        padding-bottom: 10px;
    }
    h3{
            padding: 30px;
            margin: 0;
            font-size: 20px !important;
        }
        .carousel{
            max-width: 100%;  
    }

        .cajas-coment{
            width: 80% !important;
            height: 401px !important;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.3) !important;
        }
        .foto-alumno{
            padding: 10px !important;
        }
        .comentario{
            font-size: 13px !important;        }
        .ubicacion-p{
            font-size: 13px;
        }
    }



    // FORMULARIO
    .contact_info {
        display: none;
    }
    .contenedor_form {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    form.form_contact {
        padding: 0;
    }
    form.form_contact h2 {
        font-size: 18px;
    }
    form.form_contact label{
        font-weight: 500;
    }
    form.form_contact input {
    width: 100% !important;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    font-family: 'Open sans';
	color: #000;
	font-size: 14px;
	font-weight: 400;
    }
